<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
<div class="container-fluid body-content">
    <div class="row">
        <div class="col-md-2" style="border-right: 1px solid #cce2ff; height: auto;">
            <br/>
            <div class="inner-addon right-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input id="search-input" class="form-control input-sm active" autofocus="autofocus"></input>
            </div>
            <br/>
            <div id="js-tree">

                <ul>
                    <li>Finance
                        <ul>
                            <li>Tasks</li>
                            <li>Setup & Maintenance
                                <ul>
                                    <li data-jstree='{"type":"demo"}'>Bank Accounts</li>
                                    <li data-jstree='{"type":"demo"}'>Currency Management</li>
                                    <li data-jstree='{"type":"demo"}'>Cash Flow Headings</li>
                                    <li data-jstree='{"type":"demo"}'>Ageing Slabs</li>
                                    <li data-jstree='{"type":"demo"}'>Account Masters</li>
                                    <li data-jstree='{"type":"demo"}'>Cash Flow Setups</li>
                                    <li data-jstree='{"type":"demo"}'>Cost Centers</li>
                                    <li data-jstree='{"type":"demo"}'>Card Types</li>
                                    <li data-jstree='{"type":"demo"}'>Payment Cards</li>
                                </ul>
                            </li>
                            <li>Reports</li>
                        </ul>

                    </li>
                    <li>Inventory</li>
                    <li>Purchases</li>
                    <li>Sales</li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
    
    <hr/>
    
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jstree")
    @RenderSection("scripts", required: false)
</body>
</html>
